<% content_for :title do %>About<% end %>
<h3>About Jure Stabuc</h3>
<p>He was born in Maribor, Slovenia. He left Slovenia for Belgium, attending an exchange year at he University of Antwerpen. After getting the Bachelor degree in communication studies he decided to attend a master degree programme - German Studies. Meanwhile, he was working for Vecer daily newspaper for three summers in a row. When the financial crisis struck, he got fired. His friend, a hot shot developer in London suggested him to start learning Ruby on Rails. And he did with only one goal in his mind: to get out of Slovenia. 
<p>His favorite quotation is:</p>
<p>Cherchez la femme</p>
